Akka 2/.idea/workspace.xml
Actor2/.idea/workspace.xml
Actor2/out/production/Actor2/Drone$$anonfun$receive$1.class
Actors/.idea/workspace.xml
*.class
Actor2/out/production/Actor2/Drone$$anonfun$receive$1.class
Project/.idea/workspace.xml
Project/.idea/workspace.xml
